<div ng-controller='OrderController'>
    <h3>ORDERS</h3>
    <div id="Add">
        <b>Add a new order</b><br>
        <div class="button">
            Customer <input type="text" ng-model="new_order.customer_name" placeholder="name" tabindex="1"><br>
            Quantity <input type="text" ng-model="new_order.quantity" placeholder="1" tabindex="2">
            <input type="text" ng-model="new_order.product" placeholder="product" tabindex="3">
            <input type="submit" ng-click="addorder()" tabindex="4">
        </div>
    </div>

    <table>
        <tr><th>Customer</th><th>Product</th><th>Quantity</th><th>Date</th></tr>
        <tr ng-repeat="order in orders"  ng-class-odd="'d1'" ng-class-even="'d2'">
            <td>placeholder</td>
            <td>{{order.product}}</td><td>{{order.quantity}}</td><td>{{order.created_at}}</td>
        </tr>
    </table>
</div>
