<div ng-controller='OrderController'>
    <h3>ORDERS</h3>
    <div id="Add">
        <b>Add a new order</b><br>
            <form>
                Customer
                    <select ng-model='new_order.name'
                            ng-options='customer.name for customer in customers'>
                    </select>
                <br>
                Quantity <input type="text" ng-model="new_order.quantity" placeholder="1" tabindex="2">
                <select ng-model='new_order.product'>
                    <option value='rocks'>Rocks</option>
                    <option value='pebbles'>Pebbles</option>
                    <option value='stones'>Stones</option>
                    <option value='boulders'>Boulders</option>
                    <option value='sand'>Sand</option>
                <input type="submit" ng-click="addorder()" tabindex="4">
            <form>
        <br>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div id= 'filter'>
        <input type="text" ng-model="filter_name" placeholder="filter">   {{filter_name}}
    </div>

    <table>
        <tr><th>Customer</th><th>Product</th><th>Quantity</th><th>Date</th></tr>
        <tr ng-repeat="order in orders | filter: filter_name"  ng-class-odd="'d1'" ng-class-even="'d2'">
            <td>{{order.name}}</td>
            <td>{{order.product}}</td><td>{{order.quantity}}</td><td>{{order.created_at | date:'medium'}}</td>
        </tr>
    </table>
</div>
